name: build

on: 
  push:
    branches:
    - "*"
  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        target: [B70]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.18.6'
      - name: Prepare
        run: |
          sudo apt update
          sudo apt install libtool-bin gperf python3-docutils autopoint gettext rename
          # https://github.com/actions/setup-go/issues/107
          echo "${GOROOT}/bin" >> $GITHUB_PATH
      - name: Build
        run: |
          make ${{ matrix.target }}
          echo "TAG_ANME=$(date +%Y%m%d)" >> $GITHUB_ENV
      - name: Rename
        run: |
          #rename 's/(.*)_(.*)-(.*).trx/${{ matrix.target }}_$2.trx/' /home/runner/work/padavan4.4/padavan4.4/trunk/images/*
          mv /home/runner/work/padavan4.4/padavan4.4/trunk/images/*.trx /home/runner/work/padavan4.4/padavan4.4/trunk/images/${{ matrix.target }}_4.4.198.9.trx
          du -sh /home/runner/work/padavan4.4/padavan4.4/trunk/images/*
      - uses: actions/upload-artifact@v3
        with:
          name: images
          path: trunk/images/*.trx
